/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}

/* Header */
.content {
    right: 40px;
    top: 40px;
    position: fixed;
    z-index: 50;
}

.menu {
    display: flex;
}

.menu li {
    display: inline-block;
    aspect-ratio: 1;
    text-align: center;
    line-height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 15px;
    height: 50px;
}

.menu li a {
    text-decoration: none;
    color: #000;
}

/* Main */
.container {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-fluid p {
    text-align: center;
    justify-content: center;
    font-size: 40px;
    text-transform: uppercase;
}

.bg-red {
    background-color: #ff0000;
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

.text-yellow {
    color: yellow;
}

.text-green {
    color: green;
}

.size-40 {
    font-size: 40px;
    text-align: center;
}